@import "tailwindcss";

:root {
  --background: #f4f6f5;
  /* Light greenish-gray background */
  --foreground: #171717;
  --sidebar-bg: #008774;
  /* Teal for sidebar */
  --primary: #008774;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar: var(--sidebar-bg);
  --color-primary: var(--primary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans, Arial, Helvetica, sans-serif);
}